.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    background: gray;
    height: 700px;
}
.dialogItem {
    padding: 20px;
}
.messages {
    padding: 20px;
    border-left-style: solid;
}
.message {
    color: white;
}
.active {
    color: yellow;
    text-decoration: none;
}
.free {
    color: black;
    text-decoration: none;
}
