.image {
    width: 300px;
}
.wrapper {
    display: flex;
}
.discription {
    color: black;
}
.wrapper img {
    width: 300px;
}
.lookFor {
    color: green;
}
.notLookFor {
    color: red;
}
.btnSettings {
    height: 50px;
}
