.textButton {
    width: 500px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.textButton button {
    text-align: center;
    width: 60px;
    height: 30px;
}
.textButton textarea {
    width: 400px;
}
